---
---

@font-face {
  font-family: 'tenforce';
  src: url('../assets/fonts/tenforce.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  text-align: center;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.fonticons,
.old-fonticons {
  position: relative;
  margin: 0;
  padding: 50px 10%;
  font-family: 'tenforce';
  background: #FFF;

  &__item {
    list-style: none;
    display: inline-block;
    margin: 20px;
    transition: all .3s ease-in-out;
    border-radius: 2px;

    &:hover {
      transform: scale(1.3);
      box-shadow: 0 10px 150px 0px rgba(0, 0, 0, 0.4);

      .fonticons__item--unicode {
        opacity: 1;
      }
    }

    &--charcode {
      display: block;
      padding: 5px;
      font-size: 48px;
    }

    &--unicode {
      display: block;
      padding: 2px 5px;
      border-top: 1px dashed #C8C8C8;
      font-size: 10px;
      color: #666;
      opacity: 0;
    }
  }

  &--negative {
    filter: invert(1);

    .fonticons {
      &__item {
        &--unicode {
          color: #313131;
        }
      }
    }
  }

  &--gradient {
    .fonticons {
      &__item {
        &--cellBlock {
          color: linear-gradient(#e66465, #9198e5);
        }

        &--charcode {
          background: -webkit-linear-gradient(135deg, rgba(255,50,50,1) 0%,rgba(55,0,255,1) 100%);
          background: linear-gradient(135deg, rgba(255,50,50,1) 0%,rgba(55,0,255,1) 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}
