---
---

@font-face {
    font-family: 'tenforce';
    src: url('../assets/fonts/tenforce.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

.fontMap_characters {
  padding: 10%;
  font-family: 'tenforce';
  background: white;
}

.fontMap_character {
  display: inline-block;
  font-family: 'tenforce';

  &--cellBlock {
    min-width: 50px;
    margin: 20px;
    transition: transform .2s ease-in-out, box-shadow .2s ease-in-out ;
    color: black;
    text-align: center;
    vertical-align: middle;

    &:hover {
      transform: scale(1.6);
      background-color: #F4F4F4;
      box-shadow: 0 0 100px 0px rgba(0,0,0, .5);
      z-index: 100;

      .fontMap_character--unicode  {
        opacity: 1;
      }
    }
  }

  &--charCode {
    display: block;
    font-size: 48px;
  }

  &--unicode {
    color: #cecece;
    font-size: 8px;
    font-style: italic;
    opacity: 0;
  }
}
