---
---

.theme_ {
  &Negative {
    filter: invert(100%);
    .fontMap_character--unicode {
      color: #313131;
    }
  }

  &Gradient{
    .fontMap_character--cellBlock {
      color: linear-gradient(#e66465, #9198e5);
    }
  }
}
