@font-face {
    font-family: 'tenforce';
    src: url('tenforce.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

.fontMap_characters, .fontMap_character {
  font-family: 'tenforce';
}

.fontMap_character {
  display: inline-block;
}

.fontMap_character--cellBlock {
  min-width: 50px;
  padding: 5px;
}
.fontMap_character--unicode {
  display: none;
}
.fontMap_character--charCode {
  display: block;
  font-size: 40px;
}
