@font-face {
    font-family: 'tenforce';
    src: url('tenforce.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

.fontMap_characters, .fontMap_character {
  font-family: 'tenforce';
}

.fontMap_character {
  display: inline-block;
}

.fontMap_character--cellBlock {
  min-width: 50px;
  margin: 20px 10px;
  transition: transform .2s ease-in-out, background-color .4s ;
  background-color: white;
  color: black;
  text-align: center;
  vertical-align: middle;
}
.fontMap_character--cellBlock:hover {
  transform: scale(1.7);
  transform-origin: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fontMap_character--unicode {
  color: #cecece;
  font-size: 11px;
  font-style: italic;
  transition: all .2s ease;
  opacity: 0;
}
.fontMap_character--cellBlock:hover .fontMap_character--unicode {
  opacity: 1;
}

.fontMap_character--charCode {
  display: block;
  font-size: 48px;
}
