<div class="field-container">
  <div class="field">
    <div class="field__label">Theme Selector</div>
    <div class="field__value">

      <div class="pmx-selector pmx-selector--expanded pmx-selector--toggleSelect JS_selector">
        <div class="pmx-selector__item pmx-selector__item--selected JS_selectorItem" data-theme="Positive">
          <div class="pmx-selector__block ">
            <span class="pmx-selector__blockPart pmx-selector__blockPart--field">Positive</span>
          </div>
        </div>
        <div class="pmx-selector__item JS_selectorItem" data-theme="Negative">
          <div class="pmx-selector__block ">
            <span class="pmx-selector__blockPart pmx-selector__blockPart--field">Negative</span>
          </div>
        </div>
        <div class="pmx-selector__item JS_selectorItem" data-theme="Colorful">
          <div class="pmx-selector__block ">
            <span class="pmx-selector__blockPart pmx-selector__blockPart--field">Colorful</span>
          </div>
        </div>
        <div class="pmx-selector__item JS_selectorItem" data-theme="Gradient">
          <div class="pmx-selector__block ">
            <span class="pmx-selector__blockPart pmx-selector__blockPart--field">Gradient</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
