<div class="selector selector--singleselect selector--expanded JS_selector">
  <div class="selector__item selector__item--selected JS_selectorItem" data-theme="Positive">
    <div class="selector__block">
      <span class="selector__blockPart selector__blockPart--field">Positive</span>
    </div>
  </div>
  <div class="selector__item JS_selectorItem" data-theme="negative">
    <div class="selector__block">
      <span class="selector__blockPart selector__blockPart--field">Negative</span>
    </div>
  </div>
  <div class="selector__item JS_selectorItem" data-theme="colourful">
    <div class="selector__block">
      <span class="selector__blockPart selector__blockPart--field">Colorful</span>
    </div>
  </div>
  <div class="selector__item JS_selectorItem" data-theme="gradient">
    <div class="selector__block">
      <span class="selector__blockPart selector__blockPart--field">Gradient</span>
    </div>
  </div>
</div>
